<div class="co">
    <p class="text-warning">Os horários nesta tabela podem sofre alterações conforme disponibilidade!</p>
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Hora</th>
                <th>Preço</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>25/10/23</td>
                <td>18:00 - 23:00</td>
                <td>R$18.000,00</td>
                <td>Disponivel</td>
                <td style="width: 100px;"><button class="button-reserva">Reservar</button></td>
            </tr>
            <tr>
                <td>25/10/23</td>
                <td>18:00 - 23:00</td>
                <td>R$18.000,00</td>
                <td>Disponivel</td>
                <td style="width: 100px;"><button class="button-reserva">Reservar</button></td>
            </tr>
            <tr>
                <td>25/10/23</td>
                <td>18:00 - 23:00</td>
                <td>R$18.000,00</td>
                <td>Disponivel</td>
                <td style="width: 100px;"><button class="button-reserva">Reservar</button></td>
            </tr>
            <tr>
                <td>25/10/23</td>
                <td>18:00 - 23:00</td>
                <td>R$18.000,00</td>
                <td>Disponivel</td>
                <td style="width: 100px;"><button class="button-reserva">Reservar</button></td>
            </tr>
            <tr>
                <td>25/10/23</td>
                <td>18:00 - 23:00</td>
                <td>R$18.000,00</td>
                <td>Disponivel</td>
                <td style="width: 100px;"><button class="button-reserva">Reservar</button></td>
            </tr>
        </tbody>
    </table>
</div>