<div class="sidebar card animate-left" style="display: none;" id="leftMenu">
    <button onclick="closeLeftMenu()" class="bar-item w3-button large">Voltar</button> 
    <div class="container-fluid">
      <ul class="navbar-nav">    
        <li class="nav-item">
          <a routerLink="/" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Espaços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Tabela de preços</a>
        </li>   
      </ul>
    </div>
  </div>
  
  <div class="mobile-bar">
    <div class="mobile-bar-item">
    <button class="icon-mobile-bar" onclick="openLeftMenu()">&#9776;</button>
    </div>
    <div class="mobile-bar-item mobile-bar-logo">
      <img src="assets/imagens/logo.png" alt="">
    </div>
    <div class="mobile-bar-item mobile-bar-profile">    
    </div>  
  </div>
  
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
      <li class="nav-item">
        <img src="assets/imagens/logo.png">
        </li>
        <li class="nav-item">
          <a routerLink="/" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="/mapa" class="nav-link">Mapa</a>
          </li>
        <li class="nav-item">
          <a routerLink="/galeria" class="nav-link">Espaços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Tabela de preços</a>
        </li>   
      </ul>
    </div>
  </nav>
 