<div class="container-galeria">
    <div class="container-galeria-item">
        <div class="container-galeria-item-text">
            <h1>Região central</h1>
            <span>Teatro municipal</span>
            <div *ngIf="viewTooltip" class="container-detalhes">
                <div class="container-detalhes-item" data-bs-toggle="tooltip" title="Disponivel periodo diurno">
                    <span class="material-symbols-outlined">
                        sunny
                    </span> 
                </div>
                <div class="container-detalhes-item" data-bs-toggle="tooltip" title="Disponivel periodo noturno">
                    <span class="material-symbols-outlined">
                        dark_mode
                    </span> 
                </div>
                <div class="container-detalhes-item " data-bs-toggle="tooltip" title="Agenda de horários">
                    <span class="material-symbols-outlined">
                        calendar_month
                    </span>  
                </div>
                <div class="container-detalhes-item " data-bs-toggle="tooltip" title="Permitido som">
                    <span class="material-symbols-outlined">
                        campaign
                        </span> 
                </div>
            </div> 
        </div>
        <img src="assets/imagens/m1.webp">
        <div *ngIf="viewBottom" class="container-galeria-item-button"> 
            <span>              
                {{nameButton}}
            </span>
        </div>
    </div>
    <div class="container-galeria-item">
        <div class="container-galeria-item-text">
            <h1>Região sul</h1>
            <span>Parque ibirapuera</span>
            <div *ngIf="viewTooltip" class="container-detalhes">
                <div class="container-detalhes-item" data-bs-toggle="tooltip" title="Disponivel periodo diurno">
                    <span class="material-symbols-outlined">
                        sunny
                    </span> 
                </div>
                <div class="container-detalhes-item" data-bs-toggle="tooltip" title="Disponivel periodo noturno">
                    <span class="material-symbols-outlined">
                        dark_mode
                    </span> 
                </div>
                <div class="container-detalhes-item " data-bs-toggle="tooltip" title="Agenda de horários">
                    <span class="material-symbols-outlined">
                        calendar_month
                    </span>  
                </div>
                <div class="container-detalhes-item " data-bs-toggle="tooltip" title="Permitido som">
                    <span class="material-symbols-outlined">
                        campaign
                        </span> 
                </div>
            </div> 
        </div>
        <img src="assets/imagens/m2.webp" alt="">
        <div *ngIf="viewBottom" class="container-galeria-item-button"> 
            <span>              
                {{nameButton}}
            </span>
        </div>
    </div>
    <div class="container-galeria-item">
        <div class="container-galeria-item-text">
            <h1>Região central</h1>
            <span>Colégio anchieta</span>
            <div *ngIf="viewTooltip" class="container-detalhes">
                <div class="container-detalhes-item" data-bs-toggle="tooltip" title="Disponivel periodo diurno">
                    <span class="material-symbols-outlined">
                        sunny
                    </span> 
                </div>
                <div class="container-detalhes-item" data-bs-toggle="tooltip" title="Disponivel periodo noturno">
                    <span class="material-symbols-outlined">
                        dark_mode
                    </span> 
                </div>
                <div class="container-detalhes-item " data-bs-toggle="tooltip" title="Agenda de horários">
                    <span class="material-symbols-outlined">
                        calendar_month
                    </span>  
                </div>
                <div class="container-detalhes-item " data-bs-toggle="tooltip" title="Permitido som">
                    <span class="material-symbols-outlined">
                        campaign
                        </span> 
                </div>
            </div> 
        </div>
        <img src="assets/imagens/m3.webp" alt="">
        <div *ngIf="viewBottom" class="container-galeria-item-button"> 
            <span>              
                {{nameButton}}
            </span>
        </div>
    </div>
    <div class="container-galeria-item">
        <div class="container-galeria-item-text">
            <h1>Região central</h1>
            <span>Liberadade Japão</span>
            <div *ngIf="viewTooltip" class="container-detalhes">
                <div class="container-detalhes-item" data-bs-toggle="tooltip" title="Disponivel periodo diurno">
                    <span class="material-symbols-outlined">
                        sunny
                    </span> 
                </div>
                <div class="container-detalhes-item" data-bs-toggle="tooltip" title="Disponivel periodo noturno">
                    <span class="material-symbols-outlined">
                        dark_mode
                    </span> 
                </div>
                <div class="container-detalhes-item " data-bs-toggle="tooltip" title="Agenda de horários">
                    <span class="material-symbols-outlined">
                        calendar_month
                    </span>  
                </div>
                <div class="container-detalhes-item " data-bs-toggle="tooltip" title="Permitido som">
                    <span class="material-symbols-outlined">
                        campaign
                        </span> 
                </div>
            </div> 
        </div>
        <img src="assets/imagens/m4.webp" alt="">
        <div *ngIf="viewBottom" class="container-galeria-item-button"> 
            <span>              
                {{nameButton}}
            </span>
        </div>
    </div>
    <div class="container-galeria-item">
    </div>
    <div class="container-galeria-item">
        <div class="container-galeria-item-text">
            <h1>Região central</h1>
            <span>Viaduto do chá</span>
            <div *ngIf="viewTooltip" class="container-detalhes">
                <div class="container-detalhes-item" data-bs-toggle="tooltip" title="Disponivel periodo diurno">
                    <span class="material-symbols-outlined">
                        sunny
                    </span> 
                </div>
                <div class="container-detalhes-item" data-bs-toggle="tooltip" title="Disponivel periodo noturno">
                    <span class="material-symbols-outlined">
                        dark_mode
                    </span> 
                </div>
                <div class="container-detalhes-item " data-bs-toggle="tooltip" title="Agenda de horários">
                    <span class="material-symbols-outlined">
                        calendar_month
                    </span>  
                </div>
                <div class="container-detalhes-item " data-bs-toggle="tooltip" title="Permitido som">
                    <span class="material-symbols-outlined">
                        campaign
                        </span> 
                </div>
            </div> 
        </div>
        <img src="assets/imagens/m5.webp" alt="">
        <div *ngIf="viewBottom" class="container-galeria-item-button"> 
            <span>              
                {{nameButton}}
            </span>
        </div>
    </div>
    <div class="container-galeria-item">
        <div class="container-galeria-item-text">
            <h1>Região central</h1>
            <span>Mercado municipal</span>
            <div *ngIf="viewTooltip" class="container-detalhes">
                <div class="container-detalhes-item" data-bs-toggle="tooltip" title="Disponivel periodo diurno">
                    <span class="material-symbols-outlined">
                        sunny
                    </span> 
                </div>
                <div class="container-detalhes-item" data-bs-toggle="tooltip" title="Disponivel periodo noturno">
                    <span class="material-symbols-outlined">
                        dark_mode
                    </span> 
                </div>
                <div class="container-detalhes-item " data-bs-toggle="tooltip" title="Agenda de horários">
                    <span class="material-symbols-outlined">
                        calendar_month
                    </span>  
                </div>
                <div class="container-detalhes-item " data-bs-toggle="tooltip" title="Permitido som">
                    <span class="material-symbols-outlined">
                        campaign
                        </span> 
                </div>
            </div> 
        </div>
        <img src="assets/imagens/m1.webp" alt="">
        <div *ngIf="viewBottom" class="container-galeria-item-button"> 
            <span>              
                {{nameButton}}
            </span>
        </div>
    </div>
    <div class="container-galeria-item">
        <div class="container-galeria-item-text">
            <h1>Região sul</h1>
            <span>Paraque ibirapuera</span>
            <div *ngIf="viewTooltip" class="container-detalhes">
                <div class="container-detalhes-item" data-bs-toggle="tooltip" title="Disponivel periodo diurno">
                    <span class="material-symbols-outlined">
                        sunny
                    </span> 
                </div>
                <div class="container-detalhes-item" data-bs-toggle="tooltip" title="Disponivel periodo noturno">
                    <span class="material-symbols-outlined">
                        dark_mode
                    </span> 
                </div>
                <div class="container-detalhes-item " data-bs-toggle="tooltip" title="Agenda de horários">
                    <span class="material-symbols-outlined">
                        calendar_month
                    </span>  
                </div>
                <div class="container-detalhes-item " data-bs-toggle="tooltip" title="Permitido som">
                    <span class="material-symbols-outlined">
                        campaign
                        </span> 
                </div>
            </div> 
        </div>
        <img src="assets/imagens/m2.webp" alt="">
        <div *ngIf="viewBottom" class="container-galeria-item-button"> 
            <span>              
                {{nameButton}}
            </span>
        </div>
    </div>
</div>