<app-topo></app-topo>
<app-galeria-content [viewTooltip]="false" [viewBottom]="false"></app-galeria-content>
<div class="box-content-detalhes-local">
    <div class="box-content-detalhes-local-top">
        <h1>Teatro municipal de São Paulo</h1>
        <div class="container-detalhes">
            <div class="container-detalhes-item" data-bs-toggle="tooltip" title="Disponivel periodo diurno">
                <span class="material-symbols-outlined">
                    sunny
                </span>
            </div>
            <div class="container-detalhes-item" data-bs-toggle="tooltip" title="Disponivel periodo noturno">
                <span class="material-symbols-outlined">
                    dark_mode
                </span>
            </div>
            <div class="container-detalhes-item " data-bs-toggle="tooltip" title="Agenda de horários">
                <span class="material-symbols-outlined">
                    calendar_month
                </span>
            </div>
            <div class="container-detalhes-item " data-bs-toggle="tooltip" title="Permitido som">
                <span class="material-symbols-outlined">
                    campaign
                </span>
            </div>
        </div>
    </div>
    <hr>

    <h2>Sobre o teatro municipal</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    <h2>Informações importantes</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    <h2>Regras gerais</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    <div class="conten-permissoes">
        <div class="content-permissoes-item">
            <h2 class="text-success">São permitidos</h2>
            <ul class="a">
                <li>Som moderado</li>
                <li>Carros de pequeno porte</li>
                <li>Barracas</li>
            </ul>
        </div>
        <div class="content-permissoes-item">
            <h2 class="text-warning">São proibidos</h2>
            <ul class="a">
                <li>Andar a cavalo</li>
                <li>Pesca ilegal</li>
                <li>Beber Coca Cola</li>
            </ul>
        </div>
    </div>
    <div class="content-horario-top">
        <h2>Tabela de horários do <b>mês atual.</b></h2>
        <button>Veja tabela completa</button>
    </div>
    <app-tabela-horario></app-tabela-horario>
    <h2>Localização</h2>
    <app-content-mapa [maxZoom]="18" [minZoom]="14" [position]="'relative'" [top]="'0'" [height_frame]="'400px'"
        [height_map]="'400px'" [height_map]="'400px'"></app-content-mapa>

</div>