<h1>ACESSO A <b>INFORMAÇÃO</b></h1>
<div class="marcas-content">
    <div class="marcas-content-item">
        <img src="assets/imagens/galeria.png" alt="">
        <p>Lorem ipsum dolor sit amet. Ut quos voluptatem rem omnis repellendus ut cumque esse sit dolor facere est
            officiis ullam eum voluptatem velit.</p>
    </div>
    <div class="marcas-content-item">
        <img src="assets/imagens/2.png" alt="">
        <p>Lorem ipsum dolor sit amet. Ut quos voluptatem rem omnis repellendus ut cumque esse sit dolor facere est
            officiis ullam eum voluptatem velit.</p>
    </div>
    <div class="marcas-content-item">
        <img src="assets/imagens/3.png" alt="">
        <p>Lorem ipsum dolor sit amet. Ut quos voluptatem rem omnis repellendus ut cumque esse sit dolor facere est
            officiis ullam eum voluptatem velit.</p>
    </div>
    <div class="marcas-content-item">
        <img src="assets/imagens/4.png" alt="">
        <p>Lorem ipsum dolor sit amet. Ut quos voluptatem rem omnis repellendus ut cumque esse sit dolor facere est
            officiis ullam eum voluptatem velit.</p>
    </div>