<div class="container-bar-layout">
    <div class="container-bar-layout-item">
<div class="box-container-filter"> 
        <mat-checkbox class="example-margin" color="primary" [(ngModel)]="checked">Avenidas</mat-checkbox>  
        <mat-checkbox class="example-margin" [(ngModel)]="checked">Tuneis</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="checked">Tuneis</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="checked">Tuneis</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="checked">Tuneis</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="checked">Tuneis</mat-checkbox>      
</div>
<mat-slider>
    <input matSliderThumb>
  </mat-slider>
</div>
  <div class="container-bar-layout-item">
<div class="map-container">
    <div class="map-frame">
      <div id="map"></div>  
    </div>
  </div> 
</div>
</div>
